header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  padding: 0 12rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 5px solid rgba(242, 242, 242, 0.4);
}
header h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul li {
  padding: 1rem 1.5rem;
  font-weight: bold;
  font-size: 16px;
}
header .lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4rem;
}
header .lock img {
  width: 20px;
}

/*Mobile*/
@media (max-width: 576px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0.5rem;
    width: 100%;
    border-bottom: 5px solid rgba(242, 242, 242, 0.4);
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 0;
  }
  header nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul li {
    padding: 1rem 0.8rem;
    font-weight: bold;
    font-size: 13px;
  }
  .lock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4rem;
  }
  .lock img {
    width: 20px;
  }
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}
main .sneakerDisplay {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .textSection {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .textSection .btn1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  margin-bottom: 0.5rem;
}
main .textSection .textParagraph {
  width: 18.8rem;
  font-size: 13.5px;
  padding: 1rem 0;
  color: #2c3034;
  line-height: 1.5rem;
}
main .textSection section {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .textSection section .priceSection {
  font-size: 16px;
}
main .textSection section .priceSection .amount {
  font-weight: bolder;
  margin-top: 0.5rem;
  font-size: 20px;
}
main .textSection section .sizeSection .size {
  line-height: none;
  font-size: 16px;
}
main .textSection section .sizeSection ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
main .textSection section .sizeSection ul li {
  padding: 0.5rem;
}
main .textSection .addToBag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .textSection .addToBag button {
  background-color: #000;
  color: #fff;
  padding: 0.3rem 2rem;
  margin-right: 1rem;
}

.sizeSelector:hover {
  background: #000;
  color: #fff;
}

/*Mobile*/
@media (max-width: 576px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  main .sneakerDisplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .sneakerDisplay img {
    width: 90%;
  }
  main .textSection {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
  main .textSection .btn1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    margin-bottom: 0.5rem;
  }
  main .textSection .textParagraph {
    width: 18.8rem;
    font-size: 13.5px;
    padding: 1rem 0;
    color: #2c3034;
    line-height: 1.5rem;
  }
  main .textSection section {
    width: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .textSection section .priceSection {
    font-size: 16px;
  }
  main .textSection section .priceSection .amount {
    font-weight: bolder;
    margin-top: 0.5rem;
    font-size: 20px;
  }
  main .textSection section .sizeSection .size {
    line-height: none;
    font-size: 16px;
  }
  main .textSection section .sizeSection ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  main .textSection section .sizeSection ul li {
    padding: 0.5rem;
  }
  main .textSection .addToBag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .textSection .addToBag button {
    background-color: #000;
    color: #fff;
    padding: 0.3rem 2rem;
    margin-right: 1rem;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  font-family: sans-serif;
}
body .wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}/*# sourceMappingURL=main.css.map */